{{> _boiler-head-start}}
<link rel="stylesheet" href="/css/table/pager.css">
{{> _boiler-head-end}}
{{> _top-nav-unsigned}}
<div class="container">
<div class="content">
{{> _table-pager}}
</div>
{{> _footer}}
</div>
{{> _boiler-jquery}}
<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script> 
<script type="text/javascript" src="/js/jquery.tablesorter.pager.js"></script> 
<script type="text/javascript">
  var pagerOptions = { 
 
    // target the pager markup - see the HTML block below 
    container: $(".pager"), 
 
    // use this url format "http:/mydatabase.com?page={page}&size={size}" 
    ajaxUrl : null, 
 
    // process ajax so that the data object is returned along with the total number of rows 
    // example: { "data" : [{ "ID": 1, "Name": "Foo", "Last": "Bar" }], "total_rows" : 100 } 
    ajaxProcessing: function(ajax){ 
      if (ajax && ajax.hasOwnProperty('data')) { 
        // return [ "data", "total_rows" ]; 
        return [ ajax.data, ajax.total_rows ]; 
      } 
    }, 
 
    // output string - default is '{page}/{totalPages}'; possible variables: {page}, {totalPages}, {startRow}, {endRow} and {totalRows} 
    output: '{startRow} to {endRow} ({totalRows})', 
 
    // apply disabled classname to the pager arrows when the rows at either extreme is visible - default is true 
    updateArrows: true, 
 
    // starting page of the pager (zero based index) 
    page: 0, 
 
    // Number of visible rows - default is 10 
    size: 10, 
 
    // if true, the table will remain the same height no matter how many records are displayed. The space is made up by an empty 
    // table row set to a height to compensate; default is false 
    fixedHeight: true, 
 
    // remove rows from the table to speed up the sort of large tables. 
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled. 
    removeRows: false, 
 
    // css class names of pager arrows 
    cssNext: '.next', // next page arrow 
    cssPrev: '.prev', // previous page arrow 
    cssFirst: '.first', // go to first page arrow 
    cssLast: '.last', // go to last page arrow 
    cssPageDisplay: '.pagedisplay', // location of where the "output" is displayed 
    cssPageSize: '.pagesize', // page size selector - select dropdown that sets the "size" option 
    positionFixed : false,
 
    // class added to arrows when at the extremes (i.e. prev/first arrows are "disabled" when on the first page) 
    cssDisabled: 'disabled' // Note there is no period "." in front of this class name 
 
  }; 
 
  // Initialize tablesorter 
  // *********************** 
  $("table#sortTableExample").tablesorter({ sortList: [[0,0]] })
 
    // initialize the pager plugin 
    // **************************** 
    .tablesorterPager(pagerOptions) 
 
    // bind to pager events 
    // ********************* 
    .bind('pagerChange pagerComplete', function(e,c){ 
      var msg = '" event triggered, ' + (e.type === 'pagerChange' ? 'going to' : 'now on') + 
        ' page ' + (c.page + 1) + '/' + c.totalPages; 
      $('#display') 
        .append('<li>"' + e.type + msg + '</li>') 
        .find('li:first').remove(); 
    }); 
</script> 
{{> _boiler-bottom}}
